<p>
  <b>First name:</b>
  <%=h @volunteer.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @volunteer.last_name %>
</p>


<%= link_to 'Edit', edit_volunteer_path(@volunteer) %> |
<%= link_to 'Back', volunteers_path %>