<%
@page_title = 'Group profiles'
@page_heading = 'Group profiles'
%>
<p><%= link_to 'Create group profile', :action => :new %></p>

<table>
  <tr>
    <th>Name</th>
    <th></th>
	<th></th>
  </tr>
<% @group_profiles.each do |group_profile| %>
  <tr>
    <td><%=h group_profile.name %></td>
    <td><%= link_to 'Edit',   :action => :edit, :id => group_profile.id %></td>
    <td><%= link_to 'Delete', {:action => :delete, :id => group_profile.id}, {:confirm => 'Are you sure?'} %></td>
  </tr>
<% end %>
</table>