<%
@page_title = 'Supervisor login'
@page_heading = 'Log in as supervisor'
%>

<% form_tag do -%>
	<p>
		Username: <%= text_field "s_user", "login_name" %>
		Password: &nbsp<%= password_field "s_user", "password" %>
		<%= submit_tag "Submit" %> </p>
<% end -%>