p.flash_info, p.flash_success, p.flash_error {
	padding: 10px;
	padding-left: 35px;
	border: 1px solid;
	background: no-repeat 10px center;
}

p.flash_info {
	color: #004EAE;
	border-color: #004EAE;
	background-image: url('../images/info.png');
	background-color: #ddddff;
}

p.flash_success {
	color: green;
	border-color: green;
	background-image: url('../images/success.png');
	background-color: #ddffdd;
}

p.flash_error, #errorExplanation {
	color: red;
	border-color: red;
	background-image: url('../images/error.png');
	background-color: #ffdddd;
}

tr.odd {
	background: #ccc;
	color: red;
}

#UbcMainContent form ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

#UbcMainContent form ul li {
	margin-bottom: 3px;
}

#UbcMainContent textarea {
	height: 60px;
	width: 220px;
}


#UbcMainContent form ul li label {
	float: left;
	margin-left: 0px;
	margin-right: 10px;
	width: 250px;
}

#UbcMainContent form ul li label.normal {
	width: auto;
	float: none;
}

.mandatory {
	color: red;
}

.fieldWithErrors {
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #ffdddd;
	color: red;
}
#errorExplanation {
	margin-bottom: 20px;
	
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 6px;
	font-size: 12px;
	margin: -7px;
	color: #000;
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
}

#errorExplanation ul, form #errorExplanation ul {
	margin: auto;
	margin-left: 20px;
	padding: auto;
}

#errorExplanation ul li, form #errorExplanation ul li {
	font-size: 12px;
	list-style: square;
}

/** Projects **/
th.project_name, td.project_name {
	width: 100px;
	font-weight: bold;
}

/** Volunteer registration page **/
.new_volunteer fieldset, .edit_volunteer fieldset {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #aaa;
}
.new_volunteer legend, .edit_volunteer legend {
	font-weight: bold;
	margin: 5px;
	padding: 5px;
}

select#project_interests {
	width: 220px;
}

