<%
@page_title 	= 'List of reports'
@page_heading 	= 'Your reported hours'
%>
<h2>Unverified reports</h2>
<%= render :partial => 'self_reports_table', :locals => {:reports => @reports, :unverified => true}%>

<h2>Verified reports</h2>
<%= render :partial => 'self_reports_table', :locals => {:reports => @reports}%>
