<h1>Administrator Account Login</h1>

<p>

<% form_tag do -%>
Username: <%= text_field "a_user", "login_name" %>&#x00A;
Password: <%= password_field "a_user", "password" %>&#x00A;
<%= submit_tag "Submit" %> 
<% end -%>
</p>