<h1>Administrator Account Info</h1> 


<% administrator = getAdministrator %>
<p>Welcome <%= administrator.name %>!</p>
<p>You have successfully logged in. </p>
<br>

<b><p><%= link_to 'Logout', :action => 'logout' %></p></b>