<h1>New Orientation</h1>
<% form_for(@orientation) do |f| %>
	<%= error_messages_for :object => [@orientation] %>
	
	<%= render :partial => "form_orientation_info", :locals => {:form => f}%>
	
	<p><%= f.submit 'Create' %></p>
<% end %>

<%= link_to 'Back', orientations_path %>