</div><!-- End UbcContent UbcContainer -->
</div><!-- End UbcContentWrapper -->
<!-- END: UBC CLF CONTENT SPACE -->
<!-- BEGIN: UBC CLF FOOTER -->
<!-- BEGIN: UBC CLF VISUAL IDENTITY FOOTER -->
<div id="UbcBottomInfoWrapper">
  <div id="UbcBottomInfo" class="UbcContainer">
    <div id="UbcBottomLeft">
      <p><a href="http://www.ubc.ca/"><img src="/_ubc_clf/img/footer/logo.gif" alt="a place of mind, The Univeristy of British Columbia" /></a></p>
    </div><!-- End UbcBottomLeft -->
    <div id="UbcBottomCenter">
      <p>[FACULTY NAME (OPTIONAL)]</p>
    </div><!-- End UbcBottomCenter -->
    <div id="UbcBottomRight">
      <p>[Faculty of Land and Food Systems]<br />
        [UNIT ADDRESS]<br />
        Tel: [604.XXX.XXXX]<br />
        Fax: [604.XXX.XXXX]<br />
        E-mail: [UNIT E-MAIL]</p>
    </div><!-- End UbcBottomRight -->
  </div><!-- End UbcBottomInfo UbcContainer -->
</div><!-- End UbcBottomInfoWrapper -->
<!-- END: UBC CLF VISUAL IDENTITY FOOTER -->
<!-- BEGIN: UBC CLF GLOBAL UTILITY FOOTER -->
<div id="UbcUtilNavWrapper">
  <div id="UbcUtilNav" class="UbcContainer">
    <p> <a href="http://www.emergency.ubc.ca/">Emergency Procedures</a>&nbsp;|&nbsp;<a href="http://www.ubc.ca/accessibility/">Accessibility</a>&nbsp;|&nbsp;<a href="http://www.ubc.ca/about/contact/">Contact UBC</a>&nbsp;|&nbsp;<a href="http://www.ubc.ca/copyright/">&copy; Copyright  The University of British Columbia</a></p>
  </div><!-- End UbcUtilNav UbcContainer -->
</div><!-- End UbcUtilNavWrapper -->
<!-- END: UBC CLF GLOBAL UTILITY FOOTER -->
<!-- END: UBC CLF FOOTER -->
</body>
</html>