<!-- BEGIN: UBC CLF PRIMARY NAVIGATION -->
  <ul id="UbcMainNav" class="UbcContainer">
    <li><a href="#" class="UbcHome">Home</a></li>
    <li> <a href="#">Link 1</a>
      <ul class="UbcSubMenu UbcClear">
        <li class="UbcSubMenuSection">
          <ul>
            <li><a href="#">Sub Link 1-1</a></li>
            <li><a href="#">Sub Link 1-2</a></li>
            <li><a href="#">Sub Link 1-3</a></li>
          </ul>
        </li>
        <li class="UbcSubMenuSection">
          <ul>
            <li><a href="#">Sub Link 1-4</a></li>
            <li><a href="#">Sub Link 1-5</a></li>
            <li><a href="#">Sub Link 1-6</a></li>
          </ul>
        </li>
        <li class="UbcSubMenuSection">
          <ul>
            <li><a href="#">Sub Link 1-7</a></li>
            <li><a href="#">Sub Link 1-8</a></li>
            <li><a href="#">Sub Link 1-9</a></li>
          </ul>
        </li>
        <li class="UbcSubMenuSection">
          <ul>
            <li><a href="#">Sub Link 1-10</a></li>
            <li><a href="#">Sub Link 1-11</a></li>
            <li><a href="#">Sub Link 1-12</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li> <a href="#">Link 2</a>
      <ul class="UbcSubMenu UbcClear">
        <li class="UbcSubMenuSection">
          <ul>
            <li><a href="#">Sub Link 2-1</a></li>
            <li><a href="#">Sub Link 2-2</a></li>
            <li><a href="#">Sub Link 2-3</a></li>
          </ul>
        </li>
        <li class="UbcSubMenuSection">
          <ul>
            <li><a href="#">Sub Link 2-4</a></li>
            <li><a href="#">Sub Link 2-5</a></li>
            <li><a href="#">Sub Link 2-6</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li> <a href="#">Link 3</a>
      <ul class="UbcSubMenu UbcClear">
        <li class="UbcSubMenuSection">
          <ul>
            <li><a href="#">Sub Link 3-1</a></li>
            <li><a href="#">Sub Link 3-2</a></li>
            <li><a href="#">Sub Link 3-3</a></li>
          </ul>
        </li>
        <li class="UbcSubMenuSection">
          <ul>
            <li><a href="#">Sub Link 3-4</a></li>
            <li><a href="#">Sub Link 3-5</a></li>
            <li><a href="#">Sub Link 3-6</a></li>
          </ul>
        </li>
        <li class="UbcSubMenuSection">
          <ul>
            <li><a href="#">Sub Link 3-7</a></li>
            <li><a href="#">Sub Link 3-8</a></li>
            <li><a href="#">Sub Link 3-9</a></li>
          </ul>
        </li>
        <li class="UbcSubMenuSection">
          <ul>
            <li><a href="#">Sub Link 3-10</a></li>
            <li><a href="#">Sub Link 3-11</a></li>
            <li><a href="#">Sub Link 3-12</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
<!-- END: UBC CLF PRIMARY NAVIGATION -->