<%
@page_title 	= 'Edit account'
@page_heading 	= 'Editing account details'
%>
<% form_for(@user, :url => { :action => "edit_account" }) do |f| %>
	<%= f.error_messages %>
	<%= render :partial => "volunteers/form_volunteer_info", :locals => {:form => f, :skip_password => true } %>
	<p><%= f.submit "Save changes"%></p>
<% end %>