<h1>Editing account details</h1>
<% form_for(@user, :url => { :action => "save_account" }) do |f| %>
	<%= error_messages_for :object => [@user] %>
	<%= render :partial => "volunteers/form_volunteer_info", :locals => {:form =>f } %>
<% end %>
<%= link_to 'Back', :action => :my_account %>