<%
@title 	= 'Forgot password'
%>
<h1>Forgot Password</h1>

<% if flash[:message] %><p class="flash_message"><%= flash[:message] %></p><% end %>

<p>Please enter the email that you registered your account with below.</p>
<p>A new password will be given to you to log in with.</p>
<p>Your new password will be emailed to that email account.</p>

<% form_tag :action => 'forgot_password' do -%>
Email: <%= text_field "user", "email" %>
<p>
<%= submit_tag "Submit" %> 
<% end -%>
<p>
<%= link_to 'Back', 'login' %>