<%
@title 	= 'Volunteer index'
%>

<h1>Volunteer Account Index</h1>
<p>Please log in to continue or register if you do not have an account yet.<p>

<%= link_to 'Register', new_volunteer_path %> |
<%= link_to 'Login', :action => 'login' %>