<%
@page_title 	= 'Volunteer index'
@page_heading 	= 'Volunteer index'
%>
<p>Please log in to continue or register if you do not have an account yet.</p>

<%= link_to 'Register', new_volunteer_path %> |
<%= link_to 'Login', :action => 'login' %> |
<%= link_to 'Rapid Entry', :controller => :self_reports, :action => :rapid_entry %>